@media (max-width: 2000px) {
  .transact {
    display: block;
    overflow-y: auto;
    height: 230px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  .transact::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .o-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  .o-box2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    /* border: 1px solid rgb(16, 19, 119); */
  }
  .o-size,
  .a-mode {
    width: 10%;
    /* border: 1px solid rgb(214, 20, 20); */
  }
  .date {
    width: 15%;
    /* border: 1px solid rgb(17, 111, 10); */
  }
  .status,
  .amount {
    /* border: 1px solid rgb(16, 19, 119); */
    width: 15%;
  }
  .o-img1 {
    width: 25px;
  }
  .o-h1,
  .o-h2 {
    margin-left: 8px;
    font-size: 13px;
    color: rgb(0, 0, 0);
  }
}

@media (max-width: 992px) {
  .status,
  .a-mode {
    width: 12%;
  }
}

@media (max-width: 700px) {
  .date {
    display: none;
  }
  .status,
  .a-mode {
    width: 15%;
  }
}

@media (max-width: 500px) {
  .status {
    display: none;
  }
  .o-h1,
  .o-h2 {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  .o-box1 {
    padding: 8px 10px;
  }
  .date {
    display: block;
  }
}

@media (max-width: 380px) {
  .o-img1 {
    display: none;
  }
}
